{% extends '::'~awhs.template~'/base_dashboard.html.twig' %}

{% block navbarBrand %}CRM <span style="color: #d70909; ">3.0</span>{% endblock %}
{% block title %}Ticket #{{ ticket.id }}{% endblock %}
{% block menu_user_money %}{{ client.money }}{% endblock %}
{% block menu_user_lastip %}{{ client.lastip }}{% endblock %}
{% block sidebarMenuDashboardActive %} active{% endblock %}
{% block extendJs %}
    <script src="//cdn.ckeditor.com/4.4.6/standard-all/ckeditor.js"></script>
    <script src="{{ asset('bundles/awhscore/js/jsoneditor.min.js') }}"
            type="application/javascript"></script>{% endblock %}

{% block fastNavigation %}
    <ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-dark-gray">Vous êtes ici:</div>
    <li><a href="{{ path("fos_user_profile_show") }}">Mes tickets</a></li>
    </ul>{% endblock %}

{% block pageHeader %}
    <div class="page-header">
        <div class="row">
            <!-- Page header, center on small screens -->
            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-dashboard page-header-icon"></i>&nbsp;&nbsp;Mes
                tickets</h1>
        </div>
    </div> <!-- / .page-header -->{% endblock %}


{% block extendCss %}
    <link href="{{ asset('bundles/awhscore/css/jsoneditor.css') }}" rel="stylesheet" type="text/css">
    <style>

        tr th {
            text-align: center;
        }

        tr td {
            text-align: center;
        }

        .editor img {
            max-width: 350px;
            width: 100%;
            height: auto
        }
    </style>
{% endblock %}
{% block contentHeader %}
    <h1>
        Ticket #{{ ticket.id }}
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Panel</a></li>
        <li><a href="{{ path('awhs_ticket_homepage') }}"> Tickets</a></li>
        <li class="active">Ticket #{{ ticket.id }}</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box-body no-padding">
                <div id="statut" class="col-md-12" style="margin-bottom:5px; text-align:right">
                    {% if ticket.closed == 0 %}
                        <a class="btn btn-primary" href="{{ path('awhs_crm_close', {id: ticket.id}) }}"
                           title="Fermer le ticket">Fermer</a>
                    {#{% else %}
                        <a class="btn btn-primary" href="{{ path('awhs_crm_open', {id: ticket.id}) }}"
                           title="Réouvrir le ticket">Réouvrir</a>#}
                    {% endif %}

                    {% if ticket.resolved == 0 %}
                        {% set color = "#d00026" %}
                        <a style="margin-left:10px;" class="btn btn-primary"
                           href="{{ path('awhs_crm_resolve', {id: ticket.id}) }}"
                           title="Marquer le ticket comme résolu">Marquer résolu</a>
                    {% else %}
                        {% set color = "#7ae208" %}
                        <a style="margin-left:10px;" class="btn btn-primary"
                           href="{{ path('awhs_crm_progress', {id: ticket.id}) }}"
                           title="Marquer le ticket comme non-résolu">Marquer non-résolu</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box-body no-padding">
                {% if ticket.closed == 0 %}
                    {{ form_start(formTicket) }}
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Personne en charge:</label>
                            <span style="display:block">{% if ticket.assignedTo != null %}{{ ticket.assignedTo.fullname }}{% else %}
                                    <div class="alert alert-warning"
                                         role="alert">Ticket en attente de traitement.</div>{% endif %}</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ form_label(formTicket.priority) }}</label>
                            {{ form_widget(formTicket.priority, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>{{ form_label(formTicket.title) }}</label>
                            {{ form_widget(formTicket.title, { 'attr': {'class': 'form-control', 'placeholder': 'Entrez un titre'} }) }}
                        </div>
                        <div class="box-footer">
                            {{ form_widget(formTicket.save, { 'attr': {'class': 'btn btn-primary'} }) }}
                            {{ form_rest(formTicket) }}
                        </div>
                        <datalist id="json-datalist"></datalist>
                        <hr>
                    </div>
                    </form>
                {% else %}

                    <hr style="background-color: {{ color }};height: 5px;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Personne en charge:</label>
                            <span style="display:block">{% if ticket.assignedTo != null %}{{ ticket.assignedTo.fullname }}{% else %}
                                    <div class="alert alert-warning"
                                         role="alert">Ticket en attente de traitement.</div>{% endif %}</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ form_label(formTicket.priority) }}</label>
                            <span style="display:block">{% if ticket.priority != null %}{{ ticket.priority.name }}{% endif %}</span>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>{{ form_label(formTicket.title) }}</label>
                            <span style="display:block">{% if ticket.title != null %}{{ ticket.title|e }}{% endif %}</span>
                        </div>
                        <hr>
                    </div>
                {% endif %}
            </div><!-- /.box-body -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="box-body no-padding">
                {% for reponse in liste_messages %}
                    <!-- chat item -->
                    <div class="row" style="padding:10px;">
                        <div class="col-xs-6">
                            <span class="name">{{ reponse.sender.fullname }}</span>
                        </div>
                        <div class="col-xs-6">
                            <small class="pull-right"><i
                                        class="fa fa-clock-o"></i> {{ reponse.date|date("d/m/Y à H:i") }}
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <pre style="border-radius: 0;">{{ reponse.message|e|bbcode_filter('default') }}</pre>
                        </div>
                    </div>
                {% endfor %}
            </div><!-- /.box-body -->
        </div>
        {% if ticket.closed == 0 %}
        <div class="col-md-12">
            <div class="box-body no-padding">
                {{ form_start(formMessage) }}
                <div class="form-group">
                    {{ form_label(formMessage.message) }}
                    {{ form_widget(formMessage.message) }}
                </div>
                {{ form_widget(formMessage.save, { 'attr': {'class': 'btn btn-primary'} }) }}
                {{ form_rest(formMessage) }}
                </form>
            </div>
            {% endif %}
        </div><!-- /.col -->
    </div><!-- /.row -->
{% endblock %}

{% block extendJsBottom %}
    <script>
        // Replace the <textarea id="editor1"> with an CKEditor
        // instance, using the "bbcode" plugin, customizing some of the
        // editor configuration options to fit BBCode environment.
        CKEDITOR.replace('form_message', {
            height: 280,
            // Add plugins providing functionality popular in BBCode environment.
            extraPlugins: 'bbcode,smiley,font,colorbutton',
            // Remove unused plugins.
            removePlugins: 'filebrowser,format,horizontalrule,pastetext,pastefromword,scayt,showborders,stylescombo,table,tabletools,wsc',
            // Remove unused buttons.
            removeButtons: 'Anchor,BGColor,Font,Strike,Subscript,Superscript',
            // Width and height are not supported in the BBCode format, so object resizing is disabled.
            disableObjectResizing: true,
            // Define font sizes in percent values.
            fontSize_sizes: "30/30%;50/50%;100/100%;120/120%;150/150%;200/200%;300/300%",
            // Strip CKEditor smileys to those commonly used in BBCode.
            smiley_images: [
                'regular_smile.png', 'sad_smile.png', 'wink_smile.png', 'teeth_smile.png', 'tongue_smile.png',
                'embarrassed_smile.png', 'omg_smile.png', 'whatchutalkingabout_smile.png', 'angel_smile.png',
                'shades_smile.png', 'cry_smile.png', 'kiss.png'
            ],
            smiley_descriptions: [
                'smiley', 'sad', 'wink', 'laugh', 'cheeky', 'blush', 'surprise',
                'indecision', 'angel', 'cool', 'crying', 'kiss'
            ]
        });
    </script>{% endblock %}